<!--counterparty table-->
<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
    <tr>
      <th scope="col" class="px-6 py-3">Наименование</th>
      <th scope="col" class="px-6 py-3">ИНН</th>
      <th scope="col" class="px-6 py-3">Адрес</th>
      <th scope="col" class="px-6 py-3">КПП</th>
      <th scope="col" class="px-6 py-3">Действия</th>
    </tr>
    </thead>
    <tbody id="counterparty-table-body">
    </tbody>
  </table>
</div> 