<!--Transaction table-->
<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
    <tr>
      <th scope="col" class="px-6 py-3">TRANSACTION</th>
      <th scope="col" class="px-6 py-3">DATE & TIME</th>
      <th scope="col" class="px-6 py-3">AMOUNT</th>
      <th scope="col" class="px-6 py-3">STATUS</th>
    </tr>
    </thead>
    <tbody>
    <tr class="bg-white border-b">
      <td class="px-6 py-4">Payment from Bonnie Green</td>
      <td class="px-6 py-4">Apr 23, 2021</td>
      <td class="px-6 py-4">$2300</td>
      <td class="px-6 py-4">
        <span class="bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded">Completed</span>
      </td>
    </tr>
    <tr class="bg-white border-b">
      <td class="px-6 py-4">Payment refund to #00910</td>
      <td class="px-6 py-4">Apr 23, 2021</td>
      <td class="px-6 py-4 text-red-500">-$670</td>
      <td class="px-6 py-4">
        <span class="bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded">Completed</span>
      </td>
    </tr>
    <tr class="bg-white border-b">
      <td class="px-6 py-4">Payment failed from #087651</td>
      <td class="px-6 py-4">Apr 18, 2021</td>
      <td class="px-6 py-4">$234</td>
      <td class="px-6 py-4">
        <span class="bg-red-100 text-red-800 text-xs font-medium px-2.5 py-0.5 rounded">Cancelled</span>
      </td>
    </tr>
    <tr class="bg-white border-b">
      <td class="px-6 py-4">Payment from Lana Byrd</td>
      <td class="px-6 py-4">Apr 15, 2021</td>
      <td class="px-6 py-4">$5000</td>
      <td class="px-6 py-4">
        <span class="bg-purple-100 text-purple-800 text-xs font-medium px-2.5 py-0.5 rounded">In progress</span>
      </td>
    </tr>
    <tr class="bg-white border-b">
      <td class="px-6 py-4">Payment from Jose Leos</td>
      <td class="px-6 py-4">Apr 15, 2021</td>
      <td class="px-6 py-4">$2300</td>
      <td class="px-6 py-4">
        <span class="bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded">Completed</span>
      </td>
    </tr>
    <tr class="bg-white border-b">
      <td class="px-6 py-4">Payment from THEMESBERG LLC</td>
      <td class="px-6 py-4">Apr 11, 2021</td>
      <td class="px-6 py-4">$560</td>
      <td class="px-6 py-4">
        <span class="bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded">Completed</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>